/* ************* Global Style ************ */

body {
  height: 100vh;
  font-family: 'Hind', sans-serif; 
  transform-origin: center ;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.row {
  width: 100%;
}

p { color: #717171;}

a {
  text-decoration: none !important;
  transition: .4s !important;
  color: #333 !important;
}

a:hover {
  color: #F8694A !important;
}

.btn-primary,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus {
  background-color: #F8694A !important;
  border:1px solid #F8694A !important;
  border-radius: 0;
  color: #FFF;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #FFF !important;
  color: #F8694A ;
  border: 1px solid #F8694A !important;
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid #F8694A;
  box-shadow: 0px 0px 3px #F8694A;
}

.default-color {
  color: #777 !important;
}

.orange-color {
  color: #F8694A !important;
}

.alert-orange {
  background-color: #ffc7bb;
  color: #9e0000;
  box-shadow: 0px 0px 7px #f8694a;
  border: 1px solid #f8694a;
}

.fa-star {
  color: #FFB656;
  font-size: 14px;
  margin-right: 5px;
}

.far.fa-star.empty {
  color: #b0a6a6;;
}

.disabled {
  cursor: default !important;
}

/* ************* UpperBar Style ************ */

.upper-bar,.navbar {
  border-bottom: 1px solid #EEE;
}

.upper-bar p {
  font-size: 16px;
  color:#4A4E5A;
  margin: 5px 0px;
}

.upper-bar .upper-bar-links ul {
  margin: 5px 0px;
} 

.upper-bar .upper-bar-links ul li a {
  color:  #65686b !important;
  text-transform: uppercase;
  font-size: 14px;
}

.upper-bar ul li a:hover {
  color: #F8694A !important;
}

/* ************* navbar Style ************ */

.navbar-brand,.navbar-brand:hover {
  color: #333 !important;
  font-weight: bold !important;
  font-size: 50px !important;
}

.navbar-brand span {
  color: #F8694A;
}

.main-navbar .search-box button { 
  right: 0 ;
  top: 5px;
  border-color: transparent;
  background-color: transparent;
  color: #999;
  transition: .6s
}

.main-navbar .search-box button a {
  color: #999 !important;
}


.main-navbar .search-box input[type='search']:focus,
footer input[type='email']:focus {
  box-shadow: 0 0 0 0.2rem rgba(248,105,74,.25);
  border-color: #dd4b39;
}

.main-navbar .search-box .img-search {
  width: 25px;
  height: 25px;
  color: #999; 
  align-self: center;
}

.main-navbar .search-box .img-search > div:first-child {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
}

.main-navbar .search-box .img-search > div:last-child {
  top: 0;
  left: 0;
  z-index: 9;
  transition: .6s
}

.main-navbar .search-box .img-search:hover,
.main-navbar .search-box button a:hover {
  color: #F8694A !important;
}

::-webkit-file-upload-button {
  cursor:pointer;
}

.log-links {
  padding-top: 20px;
  flex-direction: row;
}

.log-links a {
  color: #65686b !important
}

.login-signup-btn {
  margin: 0;
  margin-top: 4px 
}

#google-login {
  background-color: #dd4b39 !important;
}
#facebook-login {
  background-color: #3b5998 !important;
}

.profile-links {
  top: calc(100% + 2px);
  right: 0;
  z-index: 10000;
  display: none;
}
.profile-links li {
  font-size: .8rem;
}

/* ************* Categories Bar Style ************ */

.categories-bar {
  background-color: #30323A;
  color: #EEE;
}

.categories-bar a { color: #EEE !important;font-size: .9rem; }

.categories-bar a:hover,
.log-links a:hover  {
  color: #F8694A !important
}

.categories-bar .row div:first-child {
  background-color: #F8694A;
  font-weight: bold;
  justify-content: space-between;
}

.categories-bar .row div:first-child a:hover{
  color: #EEE !important;
}

.pages-dropdown-click {
  cursor: pointer;
}

.categories-bar .pages-dropdown {
  top: calc(100% + 2px);
  left: 0;
  z-index: 10000;
  display: none;
}

@media (max-width: 575px) and (min-width : 350px){
  .categories-bar .pages-dropdown {
    right: 0;
    left: auto;
  }
}

.categories-bar .pages-dropdown.active,
.profile-links.active {
  display: block
}

.categories-bar .pages-dropdown,
.profile-links {
  border-top: 2px solid #F8694A;
}

.categories-bar .pages-dropdown li,
.profile-links li {
  border-radius: 0 !important;
  padding: 10px 40px;
  border: none;
  color: #555;
  transition: .4s;
  text-transform: uppercase;
  min-width: 215px;
}

.categories-bar .pages-dropdown li:hover,
.profile-links li:hover {
  color: #F8694A;
}




/* ************* Category list Style ************ */

.category-list  li {
  padding: 15px 0px 10px 15px;
  border-bottom: 1px solid #dee2e6!important;
  text-transform: uppercase;
  font-size: 14px;
}

/* ************* slider Style ************ */

.slide .carousel-caption {
  bottom: 33%;
}

@media (min-width: 992px) {
  .slide .carousel-caption h3 {
    font-size:48px;
  }
  .slide .carousel-caption p {
    font-size: 42px;
  }
}

@media (max-width: 991px) {
  .slide .carousel-caption {
    bottom: 45px;
  }
}

.slide .carousel-caption {
  display: inline-block;
  padding: 25px 5px;
  background-color: #30323a8c;
}

.slide .carousel-caption h3 {
  margin: 0;
  color: #F8694A;
  font-weight: 700;
  text-transform: uppercase;
}

.slide .carousel-caption p {
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.slide .carousel-control-prev,
.slide .carousel-control-next {
  display: none;
}

/* ************* Newcollection Style ************ */

.newcollection .link-text,
.hot-deal .link-text {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1f1c1c33 !important;
  display: flex;
}

.newcollection .link-text a,
.hot-deal .link-text a {
  background-color: transparent !important;
  align-self: center;
  text-align: center;
  width: 100%;
  font-size: 2.6vw;
  border-radius: 0 !important;
}

@media (max-width: 576px) {
  .newcollection .link-text a,
  .hot-deal .link-text a {
    font-size: 6vw;
  }
}


/* ************* Hotdeal section Style ************ */

.hot-deal .text-content {
  top: 0;
  left: 0;
  background-color: #33333333;
  width: 100%;
  height: 100%;
}

.hot-deal .text-content h3,
.hot-deal .text-content p {
  font-size: 50px;
  text-transform: uppercase;
}

.hot-deal .text-content h3 {
  color: #F8694A;
  font-weight: bold;
}

.hot-deal .text-content p {
  color: #EEE;
}

.hot-deal .text-content .btn {
  font-weight: bold;
}



/* ************* Section title style ************ */

.sectiontitle .title-container h3 {
  color: #333333;
  font-size: 32px;
  text-transform: uppercase;
}

.sectiontitle .title-container:after {
  content: '';
  width: 90px;
  height: 3px;
  background-color: #F8694A;
  display: block;
  margin-top: -2px;
}


/* **************************** Products page Components style ************************** */

/* ************* FilterBox style ************ */

.filter-box {
  position: sticky;
  top: 30px;
}

.filter-box h5 {
  border-bottom: 1px solid;
  padding-bottom: 8px;
}

.filter-box .price-filter {
  color: #777;
}

.filter-box .price-filter > div:nth-child(2) {
  width: -webkit-fill-available;
}

.filter-box .price-filter input[type='range'] {
  padding-left: 2px;
  padding-right: 2px;
}

.filter-box .price-filter span {
  line-height: 35px;
}

.filter-box .color-checkbox .wrapper > div {
  display: flex;
  flex-direction: row;
} 

.filter-box .color-checkbox .color-box-holder {
  margin: 10px;
  padding: 2px;
}

.filter-box .color-checkbox .color-box-holder > div {
  padding: 2px;
  background-color: #fff;
}

.filter-box .color-checkbox .color-box  {
  width: 20px;
  height: 20px;
  position: relative;
}

.filter-box .color-checkbox .color-box .color-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  z-index: 1;
} 

.filter-box  .color-checkbox .wrapper div.checked {
  background-color: rgb(240, 104, 80);
}

.filter-box  .color-checkbox .color-box input {
  cursor: pointer;
  border: none;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  margin: 0;
  z-index: 2;
  opacity: 0;
}

/**
* Product Card
**/
.product-grid7 {
  position: relative;
  z-index: 1;
}
.product-grid7 .product-image7 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
  perspective: 1500px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.product-grid7 .product-image7 a {
  display: block;
}
.product-grid7 .product-image7 img {
  width: 100%;
  height: auto;
}
.product-grid7 .pic-1 {
  opacity: 1;
  transition: all 0.5s ease-out 0s;
}
.product-grid7 .pic-2 {
  opacity: 0;
  transform: rotateY(-90deg);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-out 0s;
}
.product-grid7:hover .pic-2 {
  opacity: 1;
  transform: rotateY(0);
}
.product-grid7 .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 3px;
  left: -20%;
  z-index: 1;
  transition: all 0.5s ease 0s;
}
.product-grid7:hover .social {
  left: 17px;
}
.product-grid7 .social li a {
  color: #f8694a !important;
  background-color: #333;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  width: 40px;
  margin: 15px 0;
  border-radius: 50%;
  display: block;
  transition: all 0.5s ease-in-out;
}
.product-grid7 .social li a:hover {
  color: #333 !important;
  background-color: #F8694A;
}
.product-grid7 .product-new-label {
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}
.product-grid7 .product-content {
  text-align: center;
  padding: 20px 0 0;
}
.product-grid7 .title {
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  transition: all 0.3s ease 0s;
}
.product-grid7 .title a {
  color: #333;
}
.product-grid7 .title a:hover {
  color: #78e08f;
}
.product-grid7 .rating {
  color: #FFB656;
  font-size: 12px;
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}
.product-grid7 .price {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
  transition: all 0.3s;
}
.product-grid7 .price span {
  color: #F8694A;
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
  margin-left: 7px;
  display: inline-block;
}
@media only screen and (max-width: 990px) {
  .product-grid7 {
    margin-bottom: 30px;
  }
}

/*Upload box*/
.upload-box {
  border: 1px solid #858585;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  cursor: pointer !important;
  -webkit-file-upload-button : cursor;
}

.upload-box:focus {
  border: 1px solid #F8694A;
  box-shadow: 0px 0px 3px #F8694A;
  outline: none;
}

.upload-box .upload-box-text {
  width: 80%;
}

.upload-box .upload-box-text p {
  white-space: pre-wrap;
}

.upload-box .upload-box-text i {
  color: #F8694A;
}


/* **************************** Products categories page Components style ************************** */

.category .category-inner .category-holder {
  height: 300px;
  overflow: hidden;
}

.category .category-inner .category-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .5s;
} 

.category:hover .category-inner .category-image img{
  transform: translateZ(20px) translateY(-20px) scale(1.1)
}

.category .category-inner .category-content {
  top: 0;
  left: 0;
  background-color: #33333350;
}

.category .category-inner .category-content div {
  color: #EEE;
  padding: 10px;
  font-size: 22px;
  background-color: #f8694ab8;
  text-transform: capitalize;
}


/* **************************** Product details page Components style ************************** */

.product-details .product-info .product-title {
  text-transform: capitalize;
  font-weight: 700;
}

.product-details .product-info .pricing .current-price {
  font-size: 24px;
  font-weight: 700;
}

.product-details .product-info .pricing .pre-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #F8694A;
}

.product-details .product-info .size span:last-child{
  padding: 2px 7px;
  border: 1px solid #f8694a;
  color: #f8694a;
}

.product-details .span-fw {
  width: 80px;
  display: inline-block;
}

.product-details .product-info .quantity span {
  line-height: 35px;
}

.product-details .product-info .quantity input {
  width: 75px;
}

.product-details .product-info .color span:last-child{
  width: 25px;
  height: 25px;
  display: inline-block;
  opacity: .7;
  vertical-align: middle;
}

.product-details .prev-product-btn,
.product-details .next-product-btn {
  padding: 15px 30px;
  font-size: 24px;
}

.product-review .review-details {
  border-bottom: 1px solid #DDD;
}

.product-review .review-details .user-name ,
.product-review .review-details .review-date {
  color: #555;
} 

.product-review .review-details .user-name i,
.product-review .review-details .review-date i {
  color: #F8694A;
  margin-right: 5px;
} 

.product-review .review-text {
  color: #555;
  font-size: 14px;
}

.prev-next-review {
  padding-top: 12px;
}

.add-review-form h6 {
  font-size: 18px;
}

.add-review-form p {
  font-size: 14px;
}

.add-review-form input,textarea {
  font-size: 14px !important;
  font-weight: 100 !important;
}

.add-review-form label {
  line-height: 40px;
}

.dv-star-rating {
  font-size: 27px;
}



/* **************************** About us page  style ************************** */

/* Header style */

.about .about-header {
  font-size: 54px;
  font-weight: bold;
  color: #30323A;
}

.about .img-holder {
  padding: 2rem 0px;
}

.about .img-holder img {border-radius: 40px;}

/* **************************** Checkout page style ************************** */

/* Order review style */

.order-review table thead th {
  border: none;
}

.order-review table tbody .p_details > div {
  display: inline-block;
}

.order-review table tbody .p_details > div:first-child {
  border: 1px solid #F8694A;
  margin:10px 10px 10px 0px
}

.order-review table tbody td.p_details > div:nth-child(2) {
  margin:10px 10px 10px 0px;
}

.order-review table tbody td.p_details > div:nth-child(2) h4 {
  font-weight: 600;
}

.order-review table tbody td.p_details > div:first-child img {
    width: 100px;
    height: 100px;
}

.order-review table tbody td.quantity {
  width: 150px;
}

.order-review table tbody tr:last-child {
  border-bottom: 1px solid #dee2e6;
}

.order-total table tr {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  background-color: #F6F7F8;
}

.order-total table tr td {
  min-width: 200px;
  padding: 15px;
}

.order-total table .total-label {
  line-height: 40px;
}

.order-total table tr td:first-child {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  border-right: 1px solid #dee2e6;
}

.order-total table .sub-total {
  font-weight : bold
}

.order-total table .shipping {
  color: #555;
  font-weight: 100;
  font-size: small;
}

.order-total table .total {
  font-size: 24px;
  font-weight: 800;
  color: #F8694A
}

/* **************************** FixedCart style ************************** */

.fixed-cart {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: #F8694A;
  z-index: 1000;
  border-radius: 50%;
}

.fixed-cart .fixed-cart-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fixed-cart .fixed-cart-inner a {
  color: #EEE !important;
  line-height: 63px;
}

.fixed-cart .number-of-products-in-cart {
  top: 0;
  left: -10px;
  width: 25px;
  height: 25px;
  background-color: #fff;
  z-index: 10000;
  text-align: center;
  border-radius: 50%;
  line-height: 26px;
  border: 1px solid #f8694a;
  color: #f8694a;
}

/* *************** Footer Style ************ */

footer { background-color: #F6F7F8;}

footer p {
  font-size: .9em;
}

footer h4 { text-transform: uppercase;font-weight: 700;}

footer .account ul li,
footer .services ul li {
  transition: .8s;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 5px;
}

footer .account ul li a,
footer .services ul li a {
  margin-left: -8px !important;
}

footer .account ul li a:hover,
footer .services ul li a:hover  {
  margin-left: 0 !important;
}

.upper-footer { border-bottom: 1px solid #ced4da}

.footer-social {
  list-style: none;
}

footer input[type='email'] {
  font-size: 14px;
}

footer button {
  background-color: #F8694A !important;
  border: none !important;
  font-weight: 700 !important;
}

footer button:hover,
footer button:focus {
  background-color: #30323A !important;
  box-shadow: none !important;
}


/* **************************** Add product, Update product form  style ************************** */

.add-product .required-product-hint {
  font-size: 18px;
  color: #f8694a !important;
  margin-bottom: 50px;
}

.add-product span.asterisk {
  top: 14px;
  right: 38px;
  font-size: 10px;
  color: #f8694a;
}

.add-product .form-group {
  margin-bottom: 25px;
}

.add-product input,
.add-product textarea,
.add-product select {
  border-radius: 0;
  font-size: medium;
  border: 1px solid #858585;
  color: #858585 !important;
}

.add-product input[type='color'] {
  padding: 0;
  border: none;
  width: 100px;
  height: 50px;
}

.form-check {
  margin-bottom: 25px
}

.form-check-label {
  color: #65686b;
}

.select-input {
  padding-left: 14px;
  color: #65686b;
}

.add-product textarea {
  min-height: 100px
}

.add-product .input-group-text {
  border-radius: 0;
}

.add-product small {
  color: #f8694ae0 !important;
}

/* **************************** Profile component style ************************** */

.profile .profile-info .user-name span:first-child,
.profile .profile-info .user-email span:first-child {
  width: max-content;
}

.profile .profile-info .user-name span:last-child,
.profile .profile-info .user-email span:last-child {
  color: #65686b;
}

.profile .profile-info .user-avatar img {
  
}